センサデータ<br>
不適切な値、外れ値を取得してしまう<br>
センサ異常<br>
ノイズ混入<br>
欠損<br>
<br>
データの整理、欠損値の処理が必要<br>

In [1]:
import pandas as pd

A=[[101,'a','z'],[102,'b','y'],[103,'c','x'],[104,'d','w']]

dfa=pd.DataFrame(A)
dfa

     0  1  2
0  101  a  z
1  102  b  y
2  103  c  x
3  104  d  w

In [2]:
# dfaにカラム名をつかえる
dfa.columns=['no','la','lz']
dfa

    no la lz
0  101  a  z
1  102  b  y
2  103  c  x
3  104  d  w

In [3]:
# index列にする
dfa.set_index('lz')

     no la
lz
z   101  a
y   102  b
x   103  c
w   104  d

In [4]:
# ソートし直す
dfa.set_index('lz').sort_index()

dfa

    no la lz
0  101  a  z
1  102  b  y
2  103  c  x
3  104  d  w

In [5]:
dfa[:1]

    no la lz
0  101  a  z

In [6]:
dfa[['no']]  # カラム方向のスライス

    no
0  101
1  102
2  103
3  104

In [7]:
dfa[['no','lz']]

    no lz
0  101  z
1  102  y
2  103  x
3  104  w

In [8]:
dfa

    no la lz
0  101  a  z
1  102  b  y
2  103  c  x
3  104  d  w

In [9]:
dfa.loc[0:0]

    no la lz
0  101  a  z

In [10]:
B=[[101,'A','Z'],[102,'B','Y'],[104,'D','W'],[105,'E','V']]
dfb=pd.DataFrame(B)
dfb.columns=['no','ua','uz']
dfb

    no ua uz
0  101  A  Z
1  102  B  Y
2  104  D  W
3  105  E  V

In [11]:
pd.concat([dfa,dfb])  # concatすると対応する値がない部分にNaNがはいる

    no   la   lz   ua   uz
0  101    a    z  NaN  NaN
1  102    b    y  NaN  NaN
2  103    c    x  NaN  NaN
3  104    d    w  NaN  NaN
0  101  NaN  NaN    A    Z
1  102  NaN  NaN    B    Y
2  104  NaN  NaN    D    W
3  105  NaN  NaN    E    V

In [12]:
dfa.set_index('no',inplace=True)
dfa

    la lz
no
101  a  z
102  b  y
103  c  x
104  d  w

In [13]:
dfb.set_index('no',inplace=True)
dfb

    ua uz
no
101  A  Z
102  B  Y
104  D  W
105  E  V

In [14]:
dfa.join(dfb)

    la lz   ua   uz
no
101  a  z    A    Z
102  b  y    B    Y
103  c  x  NaN  NaN
104  d  w    D    W

In [15]:
dfa.join(dfa,rsuffix='_rsfx')

    la lz la_rsfx lz_rsfx
no
101  a  z       a       z
102  b  y       b       y
103  c  x       c       x
104  d  w       d       w

In [16]:
dfa.join(dfb).dropna()

    la lz ua uz
no
101  a  z  A  Z
102  b  y  B  Y
104  d  w  D  W

In [17]:
type(dfa)

pandas.core.frame.DataFrame

In [18]:
# as_matrixは使えなくなったのでvalues
print(dfa)
dfa.values

    la lz
no
101  a  z
102  b  y
103  c  x
104  d  w

array([['a', 'z'],
       ['b', 'y'],
       ['c', 'x'],
       ['d', 'w']], dtype=object)

In [19]:
type(dfa.values)

numpy.ndarray