In [4]:
import sqlite3
conn=sqlite3.connect("pdb.db")
c=conn.cursor()
c.execute("DROP TABLE IF EXISTS product")
c.execute("CREATE TABLE product(name CHAR(20),price INT)")
c.execute("INSERT INTO product VALUES('鉛筆',80)")
c.execute("INSERT INTO product VALUES('消しゴム',50)")
c.execute("INSERT INTO product VALUES('定規',200)")
c.execute("INSERT INTO product VALUES('コンパス',300)")
c.execute("INSERT INTO product VALUES('ボールペン',100)")
conn.commit()
itr=c.execute("SELECT * FROM product")
for name,value in itr:
    print("{}:{}".format(name,value))
conn.close()

鉛筆:80
消しゴム:50
定規:200
コンパス:300
ボールペン:100

In [3]:
import sqlite3
conn=sqlite3.connect("pdb.db")
c=conn.cursor()
itr=c.execute("SELECT * FROM product WHERE price>=200")
for row in itr:
    print(row)
conn.close()

('定規', 200)
('コンパス', 300)

In [4]:
import sqlite3
conn=sqlite3.connect("pdb.db")
c=conn.cursor()
itr=c.execute("SELECT*FROM product WHERE name='鉛筆'")
for row in itr:
    print(row)
conn.close()

('鉛筆', 80)

In [5]:
import sqlite3
conn=sqlite3.connect("pdb.db")
c=conn.cursor()
itr=c.execute("SELECT*FROM product WHERE name LIKE '%ン%'")
for row in itr:
    print(row)
conn.close()

('コンパス', 300)
('ボールペン', 100)

In [6]:
import sqlite3
conn=sqlite3.connect("pdb.db")
c=conn.cursor()
itr=c.execute("SELECT*FROM product ORDER BY price DESC")
for row in itr:
    print(row)
conn.close()

('コンパス', 300)
('定規', 200)
('ボールペン', 100)
('鉛筆', 80)
('消しゴム', 50)

In [ ]:
# create table tbl1(one varchar(10),two smallint);
# insert into tbl1 values('hello',10);
# insert into tbl1 values('goodbye',20);
# select * from tbl1;

# create table tbl2(
# f1 varchar(30) primary key,
# f2 text,
# f3 real  # 浮動小数点
# );

In [15]:
import sqlite3
conn=sqlite3.connect("pdb.db")
c=conn.cursor()
c.execute("drop table if exists product2")
c.execute("create table product2(name char(20),num int)")

fruits={"みかん":80,"いちご":60,"りんご":22,"もも":50,"くり":75}

for f,num in fruits.items():
    line="insert into product2 values('{:s}',{:d})".format(f,num)
    c.execute(line)

conn.commit()
itr=c.execute("select*from product2")
for row in itr:
    print(row)
conn.close()

('みかん', 80)
('いちご', 60)
('りんご', 22)
('もも', 50)
('くり', 75)

In [19]:
import sqlite3
conn=sqlite3.connect("pdb.db")
c=conn.cursor()
c.execute("drop table if exists product3")
c.execute("create table product3(name char(20),num int)")

fruits={"みかん":80,"いちご":60,"りんご":22,"もも":50,"くり":75}

for f,num in fruits.items():
    line="insert into product3 values('{:s}',{:d})".format(f,num)
    c.execute(line)

conn.commit()
itr=c.execute("select*from product3 where num<=30")
for row in itr:
    print(row)
conn.close()

('りんご', 22)

In [22]:
import sqlite3
conn=sqlite3.connect("pdb.db")
c=conn.cursor()
c.execute("drop table if exists product3")
c.execute("create table product3(name char(20),num int)")

fruits={"みかん":80,"いちご":60,"りんご":22,"もも":50,"くり":75}

for f,num in fruits.items():
    line="insert into product3 values('{:s}',{:d})".format(f,num)
    c.execute(line)

conn.commit()
lst=tuple(c.execute("select*from product3 where num<=50"))  # イテラブル要素が戻り値なのでタプル化しておく
for row in lst:
    print(row)
conn.close()

('りんご', 22)
('もも', 50)

In [29]:
import sqlite3
from contextlib import closing

dbname="pdb.db"

with closing(sqlite3.connect(dbname)) as conn:
    c=conn.cursor()
    c.execute("drop table if exists users")
    create_table="""create table users( id integer primary key autoincrement,name varchar(64),
                    age int,gender varchar(32))"""
    c.execute(create_table)
    
    sql="insert into users (name,age,gender) values(?,?,?)"
    user=("Taro",20,"male")
    c.execute(sql,user)
    
    sql="insert into users (name,age,gender) values(?,?,?)"
    users = [
        ('Shota', 54, 'male'),
        ('Nana', 40, 'female'),
        ('Tooru', 78, 'male'),
        ('Saki', 31, 'female')
    ]
    c.executemany(sql,users)
    
    conn.commit()
    
    select_sql="select*from users"
    for row in c.execute(select_sql):
        print(row)

(1, 'Taro', 20, 'male')
(2, 'Shota', 54, 'male')
(3, 'Nana', 40, 'female')
(4, 'Tooru', 78, 'male')
(5, 'Saki', 31, 'female')

In [ ]:
import sqlite3
import csv
import gzip
conn=sqlite3.connect("honya.db")
conn.text_factory=str
csr=conn.cursor()
keys=(
'id',
'title',
'data',
'article'
)

with gzip.open("honya.csv.gz",'rU') as f:
    reader=csv.reader(f,delimiter="\t")
    for row in reader:
        if len(row)==len(key):
            d=dict(zip(keys,row))
            csr.execute('insert into tracks (id,title,date,article) values(:id,:title,:date,:article)' , d)
            conn.commit()